{% extends 'basesimple.html' %}

{% block mycontent %}
<h1>원하는 상품을 클리해 주세요!!</h1>
<hr>
{% load static %}
<a href="http://localhost:8000/workapp/basket1/p001"><img src="{% static 'images/1.jpg' %}" width="150"></img></a>
<a href="http://localhost:8000/workapp/basket1/p002"><img src="{% static 'images/2.jpg' %}" width="150"></img></a>
<a href="http://localhost:8000/workapp/basket1/p003"><img src="{% static 'images/3.jpg' %}" width="150"></img></a>
<a href="http://localhost:8000/workapp/basket1/p004"><img src="{% static 'images/4.jpg' %}" width="150"></img></a>
<a href="http://localhost:8000/workapp/basket1/p005"><img src="{% static 'images/5.jpg' %}" width="150"></img></a><hr>
<a href="http://localhost:8000/workapp/basket1/p006"><img src="{% static 'images/6.jpg' %}" width="150"></img></a>
<a href="http://localhost:8000/workapp/basket1/p007"><img src="{% static 'images/7.jpg' %}" width="150"></img></a>
<a href="http://localhost:8000/workapp/basket1/p008"><img src="{% static 'images/8.jpg' %}" width="150"></img></a>
<a href="http://localhost:8000/workapp/basket1/p009"><img src="{% static 'images/9.jpg' %}" width="150"></img></a>
<a href="http://localhost:8000/workapp/basket1/p010"><img src="{% static 'images/10.jpg' %}" width="150"></img></a>
{% endblock %}